* {
    box-sizing: border-box;
}

@font-face{
    font-family:"JetBrainsMono";
    src: url(fonts/JetBrainsMono/JetBrainsMono-Regular.woff2);
}

main{
    padding:20px;
}

body {
    font-family: JetBrainsMono;
    background: url("images/birdsandfishes2.png"), linear-gradient(
        to bottom, #81b29c 20%, #c09ac4 80%
        );
    background-repeat: repeat, no-repeat;
    background-attachment:fixed;
    margin:0px;
}


.navbar ul{
    list-style-type:none;
    background-color:#292336;
    padding:10px;
    margin:0px;
    overflow:hidden;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(1rem, 0.6vw + 0.6rem, 3.5rem);
}
.navbar a{
    color:#ff9270;
    text-decoration:none;
    padding:15px;
    text-align:left;
}



.navbar a:hover{
    color:white;
}

.navbar li{
    float: left;
}

.row{
    background-color: #ffefcf;
}

.centercolumn{
    margin:0 auto;
    width:40%;
}

.card{
    background-color: #ffefcf;
    border-color:#ff9270;
    border-style:dotted;
    padding:20px;
    
}

.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.thingbehavingweirdly{
    display:flex;
    justify-content:center;
}

h2{
    color: #ff9270;
    font-size: clamp(1rem, 1vw + 1rem, 3.5rem);
}


h5{
    color: #ff9270;
    font-size: clamp(1rem, 0.5vw + 1rem, 3.5rem);
}

P{
    color: #ff9270;
    font-size: clamp(1rem, 0.2vw + 1rem, 3.5rem);
}

a{
    text-decoration:none; 
    color:#ff9270; 
    font-weight:bold;
}

img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

@media screen and (max-width: 800px) {
    .centercolumn {
        padding: 0;
        width:90%;
    }
}
